* {
	padding: 0;
	margin: 0;
	font: inherit;
}

a {
	color: #258;
	transition: color 0.2s ease;
}

a:hover {
	color: #369;
}

p {
	margin-bottom: 1em;
}

body {
	text-shadow: 0 0.1em 0.1em rgba(255, 255, 255, 0.1);
	text-align: center;
	background: #eee;
	color: #111;
	font: 400 18pt "Lato","sans-serif";
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

h1 {
	font-weight: 300;
	font-size: 250%;
}

h2 {
	font-weight: 300;
	font-size: 200%;
}

body > main > header {
	padding: 0.5em;
	max-width: 600px;
	margin-bottom: 0.5em;
}

body > main > header > h2 {
	margin-bottom: 0.25em;
}

input, button, .input, .button {
	border: 0;
	background: #fff;
	color: #000;
	text-decoration: none;
	padding: 0.25em 0.8em;
	border-radius: 0.1em;
	box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.1), 0 0.05em 0.05em rgba(0, 0, 0, 0.2);
	width: auto;
}

button:hover, .button:hover {
}

.cards {
	display: flex;
	max-width: 900px;
	max-width: 100vw;
}

.cards > .card {
	margin: 0.25em;
	background: #ccc;
	flex: 1;
	border-radius: 0.5em;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 -0.1em 0.25em rgba(255, 255, 255, 0.25), 0 -0.05em 0.05em rgba(255, 255, 255, 0.5);
}

body > main > footer {
	position: fixed;
	bottom: 0;
	opacity: 0.5;
	font-size: 12pt;
	padding: 1em;
	transition: opacity 0.2s ease;
}

body > main > footer:hover {
	opacity: 1;
}

form {
	display: flex;
}

form > input, form > button, form > .input, form > .button {
	margin: 0.25em;
}

@media (max-width: 1000px) {
	body {
		font-size: 14pt;
	}

	.cards {
		flex-direction: column;
	}

	form {
		flex-wrap: wrap;
	}

	form > input, form > button, form > .input, form > .button {
		width: 100%;
	}
}

